.head {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 230px;
    height: 700px;
    background-size: 100% ;
    color: white;
}
