.head {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 190px;
    height: 700px;
    background-size: 100% ;
    color: white;
    font-family: 'gill sans' cursive ;
}

.us{
    text-align: center;
    text-decoration-style: none;
    margin: 00px;
}
.service{
    background-image: url("../images/services.jpg");
    /* background-image: url("../images/header.jpg"); */
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    height: 350px;
    background-size: cover ;
    color: white;
    font-family: 'gill sans' cursive ;
    margin-top: 70px;
    margin-bottom:00000px 
}

.do{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-align: center;
    font-family: Arial, cursive;
}
.row2{
    margin-top: 20px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    justify-content: space-around;

}
.row1{
    
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    justify-content: space-around;
}
.row1 img ,.row2 img{
    width: 250px;
    height: 200px;
    background-color: white;
    /* justify-content: space-around; */
   
}
.photo{
    display: flex;
    flex-direction: column;
}
.contact{
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80px;
    height: 500px;
    background-size: cover;
    color: white;
    font-family: 'gill sans' cursive ;
    margin-top: 50px;
    
}
input{
    justify-items: space-aroun;
}
#user,#mail,#info{
    background-color:transparent;
}
.icon{
    text-align: center;
    flex-direction: row;
}
.message{
    height: 200px;
    width: 800px;
    text-align: center;
    margin-left: 200px;   
}
#button{
    background-color: aqua;
    background-size: 200px;
}
.view{
    display: none;
    width:300px;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer{
    text-align: center;
}

